<link rel="stylesheet" href="/css/student_profile.css">
<link rel="stylesheet" href="/css/result.css">
<div class="student-profile">
    <h1><%= student.name %>'s Profile</h1>
    <p>Batch: <%= student.batch %></p>
    <p>College: <%= student.details.college %></p>
  
    <h2>Scores</h2>
    <ul>
      <li>DSA: <%= student.scores.dsa %></li>
      <li>Dev: <%= student.scores.dev %></li>
      <li>React: <%= student.scores.react %></li>
    </ul>
</div>



<div class="results">
  <h1>Results</h1>
  <% for( result of results ) { %>
      <div class="result-details">
          <span><%= result.interview.company %></span>
          <span><%= result.result %></span>
      </div>
  <% } %>
</div>

  